.userDetails {
    max-height: 480px;
    display: block;
    margin: 15px;
    padding: 12px 0;
    overflow-y: scroll;
}

.userDetails::-webkit-scrollbar {
    width: 0;
}

.center {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border: 1px solid #C0C0C0FF;
    border-radius: 10px;
}

.center textarea {
    width: 100%;
    height: 60px;
    margin: 15px auto;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    resize: none;
    font-size: 1rem;
    border: 2px solid #cccccc;
    max-height: 180px;
}

textarea:is(:focus, :valid) {
    border-color: #17a2b8;
    padding: 14px;
}

textarea::-webkit-scrollbar {
    width: 0;
}

.area {
    display: flex;
    margin-top: 17px;
    padding: 12px 0;
    align-items: center;
    justify-content: space-between;
}

.deleteBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #cb2329;
    font-weight: 700;
}

.hiddenForm {
    display: none;
}

.displayForm {
    display: block;
}

.center h5 {
    text-align: center;
    padding: .8rem;
    border-bottom: 1px solid #C0C0C0FF;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #cb2329;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    transition: 0.5s;
}

.txt_field span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #17a2b8;
    transition: 0.5s;
}

.txt_field input:focus ~ label ,
.txt_field input:valid ~ label {
    top: -5px;
    font-size: .75rem;
    color: #17a2b8;
}

.txt_field input:focus ~ span::before ,
.txt_field input:valid ~ span::before {
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    margin: 0 0 30px;
    border: 2px solid;
    background: #17a2b8;
    border-radius: 25px;
    font-size: 1.12rem;
    color: #e9fafb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #17a2b8;
    transition: 0.5s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

div.error {
    padding: 5px 15px;
    border-radius: 5px;
    background: #FFC0CBFF;
    color: #cb2329;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50% , -50%);
}
